.createPostForm {
  display: flex;
  flex-direction: column;

  width: 25rem;
}

.submitBtn {
  cursor: pointer;

  width: 9rem;
  height: 2rem;
  margin: 1rem;

  font-weight: 600;
  font-size: 1rem;

  background-color: blue;
  color: white;
  border-color: darkcyan;
}

.textField {
  width: 25rem;
  resize: vertical;
}
